@page "/Dashboard"

<div class="d-flex flex-row justify-content-between">
	<MudCard Style="width: 200px;">
		<MudCardContent>
			<MudText>Graphite on roof</MudText>
			<div class="d-flex flex-row align-items-center">
				<MudIconButton Icon="@Icons.Material.Filled.TrendingUp"></MudIconButton>
				<MudText Typo="Typo.body2">+2.6%</MudText>
			</div>
		</MudCardContent>
		<MudCardActions>
			<MudButton Variant="Variant.Text" Color="Color.Primary">149,567</MudButton>
		</MudCardActions>
	</MudCard>

	<MudCard Style="width: 200px;">
		<MudCardContent>
			<MudText>Global Spread</MudText>
			<div class="d-flex flex-row align-items-center">

				<MudIconButton Icon="@Icons.Material.Filled.TrendingDown"></MudIconButton>

				<MudText Typo="Typo.body2">+9.6%</MudText>
			</div>
		</MudCardContent>
		<MudCardActions>
			<MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
		</MudCardActions>
	</MudCard>

	<MudCard Style="width: 200px;">
		<MudCardContent>
			<MudText>Roentgen</MudText>
			<div class="d-flex flex-row align-items-center">
				<MudIconButton Icon="@Icons.Material.Filled.TrendingFlat"></MudIconButton>
				<MudText Typo="Typo.body2">-0.0%</MudText>
			</div>
			
		</MudCardContent>
		<MudCardActions>
			<MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
		</MudCardActions>
	</MudCard>
</div>
<br />



@code {

}
