@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div @onkeydown="OnKeyDown" style="width: 800px; height : 800px; backgroud-color: rgba(0,0,0,2)" tabindex="1">
	<div class="w-100 h-100 position-relative">
		<div class="position-absolute" style="top: @(top)px; left: @(left)px;">
			<MudIcon Icon="@Icons.Material.Filled.DirectionsCar" Size="Size.Large"/>
		</div>
	</div>
</div>

@code{
	int top = 500;
	int left = 500;
	private void OnKeyDown(KeyboardEventArgs e)
	{
		switch (e.Code)
		{
			case "ArrowRight":
				if(left < 760 )
				{
					left += 5;
				}
				else
				{
					left += 0;
				}
				break;
			case "ArrowLeft":
				if (left > 5)
				{
					left -= 5;
				}
				else
				{
					left -= 0;
				}
				break;
			case "ArrowUp":
				if (top > 5)
				{
					top -= 5;
				}
				else
				{
					top -= 0;
				}
				break;
			case "ArrowDown":
				if (top <760)
				{
					top += 5;
				}
				else
				{
					top += 0;
				}
				break;
		}
	}
}